@{
    ViewData["Title"] = "CreateSchedule";
}

<h1>CreateSchedule</h1>

<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Meeting Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2"></span>
</div>


<div class="input-group mb-3">
    <span class="input-group-text">Local Date</span>
    <input type="text" class="form-control">
</div>
<div class="input-group mb-3">
    <span class="input-group-text">Exclusive or Shared?</span>
    <input type="text" class="form-control">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Participants" aria-label="Username">
    <span class="input-group-text"></span>
</div>

<div class="input-group">
    <span class="input-group-text">Description</span>
    <textarea class="form-control" aria-label="With textarea"></textarea>
</div>

<button type="submit" class="btn btn-warning mt-4">Edit</button>