@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Schedule Management</h1>
    <p><a href="https://localhost:7272/Schedule/ScheduleIndex">Make your schedule now.</a>.</p>
</div>
